{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
    {% if title %}{{ title }} {% else %} {% endif %}
{% endblock %}

{% block content %}
  <div class="container all fill">
    <div class="margin-bottom">
      <div class="row">
        <div class="col-sm">
          <h1>Let's Battle!</h1>
        </div>
        <div class="col-sm">
        </div>
      </div>
      {% if result %}
        {% if result.result == "Win" %}
          <div class="alert alert-success" role="alert">
            <strong>You win!</strong> {{result.user}} beats {{result.comp}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"> &times;</span>
            </button>
          </div>
        {% elif result.result == "Lose" %}
        <div class="alert alert-danger" role="alert">
          <strong>You Lose!</strong> {{result.comp}} beats {{result.user}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
          <strong>Draw!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% else %}
      {% endif %}
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-bottom">
            <div class="card-header">
              Your Score : 
              <b>{{point.user}}</b>
            </div>
            <div class="card-body">
              <div class="back-card">
                {% if result %}
                <img src="{{ url_for('.static', filename = 'upload/'+result.file) }}" 
                      class="logo-card">
                {% else %}
                <img src="{{ url_for('.static', filename = 'img/rps.png') }}" 
                    class="logo-card">
                {% endif %} 
                <button id="upload" type="button" class="btn btn-info upload">
                  <img src="{{ url_for('.static', filename = 'img/camera.png') }}" 
                     class="camera">
                </button>
                <form id="form" method=post enctype=multipart/form-data>
                  <input id="file" type=file name=file style='display:none;'>
                </form>
              </div>
              {% if result %}
              <h5 class="card-title result">{{result.user}}</h5>
              {% else %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-bottom">
            <div class="card-header">
              Comp Score : 
              <b>{{point.comp}}</b>
            </div>
            <div class="card-body">
              <div class="back-card">
                {% if result %}
                <img src="{{ url_for('.static', filename = 'img/'+result.comp+'.png') }}" 
                      class="logo-card">
                {% else %}
                <img src="{{ url_for('.static', filename = 'img/rps.png') }}" 
                      class="logo-card">
                {% endif %}
              </div>
              {% if result %}
              <h5 class="card-title result">{{result.comp}}</h5>
              {% else %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


      <!-- {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
      {% endfor %} -->
    </div>      
  </div>
{% endblock %}